body {
    margin: 0;
    padding: 0;
}

.header {
    height: 80px;
    background-color: #000000;
    margin-top: 0;
    display: flex;
    border-bottom: 3px solid orangered;
    border-top: 3px solid orangered;
}

ul {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 5%;
    margin: auto;
}

ul li {
    margin-right: 40px;
    margin-top: 0;
}

ul li:last-child {
margin-right: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin: 0;
}

ul li a:hover {
    font-size: 28px;
    color: darkgray;
}

img {
    height: 160%;
    margin-left: 30px;
    margin-top: -5%;
}

.content {
    background: url(../imgs/fon.jpg);
    background-size: 1920px;
    height: 700px;
    padding-top: 50px;
    display: flex;
}

#contact {
    color: gray;
    font-size: 26px;
}

h4 {
    margin-left: 100px;
    font-size: 24px;
    text-shadow: brown 1px 1px 3px;
    color: white;
}

iframe {
    margin-left: 100px;
}

form {
    width: 280px;
    margin-left: 350px;
    background: rgba(0, 0, 0, 0.5);
    height: 500px;
    padding-left: 20px;
}

input {
    margin-left: 30px;
    margin-top: 50px;
}

label {
    margin-top: 50px;
    color: white;
    
}

textarea {
    margin-top: 50px;
    margin-left: 30px;
    height: 50px;
}

h1 {
    margin: 10px auto;
    color:white;
}

#submit {
    width: 260px;
    margin-left: 0;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}