body {
    margin: 0;
    padding: 0;
}

.header {
    height: 80px;
    background-color: #000000;
    margin-top: 0;
    display: flex;
    border-bottom: 3px solid orangered;
    border-top: 3px solid orangered;
}

ul {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 5%;
    margin: auto;
}

ul li {
    margin-right: 40px;
    margin-top: 0;
}

ul li:last-child {
margin-right: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin: 0;
}

ul li a:hover {
    font-size: 28px;
    color: darkgray;
}

img {
    height: 160%;
    margin-left: 30px;
    margin-top: -5%;
}

.content {
    background: url(../imgs/fon.jpg);
    background-size: 1920px;
    height: 1080px;
}

#contact {
    color: gray;
    font-size: 26px;
}