body {
    margin: 0;
    padding: 0;
}

.header {
    height: 80px;
    background-color: #000000;
    margin-top: 0;
    display: flex;
    border-bottom: 3px solid orangered;
    border-top: 3px solid orangered;
}

.header ul {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 5%;
    margin: auto;
}

.header ul li {
    margin-right: 40px;
    margin-top: 0;
}

.header ul li:last-child {
margin-right: 0;
}

.header ul li a:hover {
    font-size: 28px;
    color: darkgray;
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin: 0;
}

img {
    height: 160%;
    margin-left: 30px;
    margin-top: -5%;
}

.content {
    background: url(../imgs/fon.jpg);
    background-size: 1920px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#catalogue {
    color: gray;
    font-size: 26px;
}

.cont {
    width: 500px;
    margin: 0 auto;
    background: rgba(99, 16, 17, 0.5);
    padding: 20px;
}

.cont ul {
    font-size: 30px;
    margin: 0;
    color:white;
    text-shadow: black 0 0 5px;
}
